{{!-- userpage & account nav --}}

{{#*inline 'email'}}
    <a {{#if id}}id="{{id}}"{{/if}} class='email'
       href='mailto:{{to}}{{#if subject}}?subject={{subject}}{{/if}}'>{{#if linkText}}{{linkText}}{{else}}{{to}}{{/if}}</a>
{{/inline}}


{{> srv/home/_header }}
<div class="secondarynav">

    <div class="in">
        <div id="profileheader">
            {{> profile profile}}
        </div> {{!-- /#profileheader --}}
    </div> {{!-- /.in --}}


    {{#eq profile.username user.username}}{{!-- looking at own page --}}
        <div class="in self">
            <nav id='userpageNav' class='secondary'>
                <ul>
                    <li id='nProjectsLi'><a href="/{{profile.username}}">Projects</a></li>
                    <li id='nAccountSettingsLi'><a href="/account">Account Settings</a></li>
                </ul>
            </nav>
            {{#if withProjectListFilter}}
                <ul id='projectListFilter'>
                    <li id="plfAll"><a href="/{{user.username}}">All</a></li>
                    <li id="plfPublic"><a href="/{{user.username}}?public=1">Public</a></li>
                    <li id="plfPrivate"><a href="/{{user.username}}?public=0">Private</a></li>
                </ul>
            {{/if}}
        </div>
    {{/eq}}
</div>
