{{#*inline 'action'}}
    {{!-- context graph --}}
    <button data-action="{{act}}" 	class="action {{act}} svg tiny {{class}}" data-svgref="{{icon}}">
        {{#if text}}{{text}}{{else}}{{act}}{{/if}}</button>
{{/inline}}

<div class="actions flexcenter">
    {{>action act='share' text='Share' icon='icon-ca-share'}}

	{{#if allowAllActions }}
        {{> controls/toggle name='private' value=1 checked=private
            class='small monochrome'
            withLabel=false id=(concat 'graph_' _id '_public')
            tooltip=(byindex private 'Make private' 'Make public')
            markup=(unescape 'data-action="toggleprivate"')
            }}

        {{!--
        duplicate
        publish/unpublish
        download
        move
        --}}
        {{>action act='delete' text='Delete' class='warn' icon='icon-ca-delete'}}
	{{/if}}
</div>