<!-- graph #{{_id}} -->
{{!--
	graph {
		name: 'test-graph',
		username: 'eesn'
		prettyName: 'Test graph'
		prettyOwner: 'georgi marinov',

		updatedAt: 'Wed Oct 14 2015 17:01:37 GMT+0100 (BST)',
		size: '1.6Mb'

		_id: (unique identifier)
		(description:)
		previewUrlSmall: (src)
		project: {
			(head only, no graph list)
		}
	}
--}}

<article class="graph asset card noselect" data-objectid="{{_id}}" data-url="/{{owner}}/{{name}}" data-asset-type="graph">
	<div class="meta scrollbar">
		<h4 class="editable" data-svgref="icon-ca-rename">{{prettyName}}</h4>
		<p class="description size">{{size}}</p>
		<p class="description updatedAt">{{updatedAt}}</p>
	</div>
	<div class="image"
		{{#if previewUrlSmall}}
		 style="background-image: url('{{previewUrlSmall}}');"
		{{/if}}
	>
		<div class="overlay flexcenter">
			{{!-- > assets/commonActions id=_id context="graph" --}}
			<a class="btn action mainaction open svg" data-action="open" href="{{path}}" data-svgref="card-icon-view">
				<svg /> View
			</a>
            {{#eq username viewer}}
            <a class="btn action mainaction edit svg" data-action="edit" href="{{path}}/edit" data-svgref="player-icon-edit">
                <svg /> Edit
            </a>
            {{/eq}}
		</div>
	</div>
</article>