{{!--
Pagination.fromMeta:
log .
  totalPages:  (total number of pages)
  perPage:     (number of results per page)
  currentPage: (this page number)
  totalCount:  (total results)
  thisPageCount: (on this page)
  pages: [] (all pages)
  displayPages: []  (only pages to display)
  nextPage
  prevPage
  firstPage
  lastPage
  thisPage,
  shouldDisplayFirstPageLink,
  shouldDisplayLastPageLink,
  shouldDisplayFirstPageEllipsis,
  shouldDisplayLastPageEllipsis
--}}
<div class="clearfix" style="clear: both; height: 1px"></div>
{{#*inline 'pageLink'}}
    {{!-- context is .. --}}
    {{#if page}}
    <a
        {{#if (equals page.num currentPage)}}
            class="current page {{class}}"
        {{else}}
            class="page {{class}}"
        {{/if}}

        {{#unless (equals page.displayStart page.displayEnd)}}
            title="results {{page.displayStart}} - {{page.displayEnd}} of {{totalCount}}"
        {{else}}
            title="result {{page.displayStart}} of {{totalCount}}"
        {{/unless}}

        {{#if usePage}}
            href="{{{replaceQueryParameters page=page.num }}}"
        {{else}}
            href="{{{replaceQueryParameters start=page.start }}}"
        {{/if}}
    >
        {{#if text}}
            {{{text}}}
        {{else}}
            {{page.num}}
        {{/if}}
    </a>
    {{/if}}
{{/inline}}
<div class="pagination" data-totalcount="{{totalCount}}" data-thispagecount="{{thisPageCount}}"
     data-totalpages="{{totalPages}}" data-perpage="{{perPage}}" data-currentpage="{{currentPage}}" >

    {{>pageLink page=prevPage text='Previous' class='prev' usePage=true}}
    {{#if shouldDisplayFirstPageLink}}
        {{>pageLink page=firstPage class='first' usePage=true}}
        {{#if shouldDisplayFirstPageEllipsis}}<span class="ellipsis">...</span>{{/if}}
    {{/if}}

    {{#each displayPages}}
        {{>pageLink .. page=this usePage=true}}
    {{/each}}

    {{#if shouldDisplayLastPageLink}}
        {{#if shouldDisplayLastPageEllipsis}}<span class="ellipsis">...</span>{{/if}}
        {{>pageLink page=lastPage class='last' usePage=true}}
    {{/if}}
    {{>pageLink page=nextPage text='Next' class='next' usePage=true}}

    {{#with thisPage}}
    <p class="explain meta" style="margin-top:20px; font-size: 90%;">
        Results {{displayStart}} - {{displayEnd}} of {{../totalCount}}
    </p>
    {{/with}}
</div>