<div class="meta">
	Users currently viewing your graph
</div>
<div class="peopleList scrollbar">
	<ul class="graph-users">
		{{#each people}}
		<li data-uid="{{uid}}">
			<div class="icon" style="background-color: {{color}}"></div>
			<div class="user-info">
				<span class="name">{{username}}</span>
				<span class="info">{{#if itsMe}}This is you :){{/if}}</span>
			</div>
			{{!--
			{{#unless itsMe}}
			<button	class="btn follow-state {{#if followed}}unfollow{{else}}follow{{/if}}" >
				{{#if followed}}
				<svg class="icon-unfollow"><use xlink:href="#icon-unfollow"></use></svg>
				<span>Unfollow</span>
				{{else}}
				<svg class="icon-follow"><use xlink:href="#icon-follow"></use></svg>
				<span>Follow</span>
				{{/if}}
			</button>
			<button class="btn kick-user" id="kick_user">
				<svg class="icon-kick"><use xlink:href="#icon-kick"></use></svg>
				<span>Kick</span>
			</button>
			{{/unless}}
			--}}
		</li>
		{{/each}}
	</ul>
</div>