{{!-- context is (user) profile --}}
{{#if username }}
    <button id="btn-account-top" data-hideshow-target="userpulldowncontainer">
        <span class="top-userpic">
            <img class="user avatar"
                {{#if profile.avatarScaled}}
                    src="{{profile.avatarScaled}}"
                {{else if profile.avatar}}
                    src="{{profile.avatar}}"
                {{else}}
                    src="/images/v2/avatar-head.png"
                {{/if}}
            />
        </span>
        <span id="userpulldownUsername">{{username}}</span>
    </button>

    <div id="userpulldowncontainer" style="display: none">
        <ul id="userPullDown">
            <li id="dropdownMyFilesLi">
                <a href="/{{username}}">My Files</a>
            </li>
            <li>
                <a class="account" href="/account">Account Details</a>
            </li>
            <li>
                <a href="/logout">Sign out</a>
            </li>
        </ul>
    </div>


{{else}}

<button class="btn svg action login" id="btn-sign-in" data-action="login">
	<svg class="icon-sign-in"><use xlink:href="#icon-sign-in"></use></svg>
	<span>Sign in</span>
</button>

{{/if}}
