<!DOCTYPE html>
<html lang="en" class="hVizor">
  <head id="head">
    <title>Vizor</title>

    {{{css 'editor'}}}
	{{{css 'icons/style'}}}

    <!--<link href="/vendor/font-awesome-4.2.0/css/font-awesome.min.css" rel="Stylesheet" type="text/css" />-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400' rel='stylesheet' type='text/css'>

    <!-- begin bundler -->
    <script type="text/javascript" src="/vendor/when.js"></script>

    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/node_modules/lodash/dist/lodash.min.js"></script>
    <script type="text/javascript" src="/vendor/jquery.fastfix.js"></script>
    <script type="text/javascript" src="/vendor/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/vendor/js.cookie.min.js"></script>

    <script type="text/javascript" src="/vendor/bootbox.min.js"></script>
    <script type="text/javascript" src="/node_modules/backbone/backbone-min.js"></script>

    <script type="text/javascript" src="/node_modules/handlebars/dist/handlebars.min.js"></script>
    <script type="text/javascript" src="/node_modules/moment/min/moment.min.js"></script>

    <script type="text/javascript" src="/vendor/webgl-debug.js"></script>

    <script type="text/javascript" src="/scripts/event-emitter.js"></script>

    <script type="text/javascript" src="/scripts/core.js"></script>
    <script type="text/javascript" src="/scripts/util.js"></script>
    <script type="text/javascript" src="/scripts/draggable.js"></script>
	<script type="text/javascript" src="/scripts/movable.js"></script>
    <script type="text/javascript" src="/scripts/treeview.js"></script>

    <script type="text/javascript" src="/scripts/file-select-control.js"></script>
    <script type="text/javascript" src="/scripts/collapsible-select-control.js"></script>
    <script type="text/javascript" src="/scripts/plugin-group.js"></script>
    <script type="text/javascript" src="/scripts/plugin-manager.js"></script>
    <script type="text/javascript" src="/scripts/patchManager.js"></script>
    <script type="text/javascript" src="/scripts/peopleManager.js"></script>
    <script type="text/javascript" src="/scripts/connection.js"></script>
    <script type="text/javascript" src="/scripts/graph.js"></script>
    <script type="text/javascript" src="/scripts/node.js"></script>
    <script type="text/javascript" src="/scripts/autoSlotGroup.js"></script>
    <script type="text/javascript" src="/scripts/variables.js"></script>
	<script type="text/javascript" src="/scripts/blendFunctions.js"></script>

    <script type="text/javascript" src="/scripts/loaders/loader.js"></script>
    <script type="text/javascript" src="/scripts/loaders/imageLoader.js"></script>
    <script type="text/javascript" src="/scripts/loaders/audioBufferLoader.js"></script>
    <script type="text/javascript" src="/scripts/loaders/textureLoader.js"></script>
    <script type="text/javascript" src="/scripts/loaders/modelLoader.js"></script>
    <script type="text/javascript" src="/scripts/loaders/sceneLoader.js"></script>
    <script type="text/javascript" src="/scripts/loaders/assetLoader.js"></script>

    <script type="text/javascript" src="/scripts/documentation/pluginDocsCache.js"></script>
	
    <script type="text/javascript" src="/scripts/gridFsClient.js"></script>

    <script type="text/javascript" src="/common/graphAnalyser.js"></script>

    <script type="text/javascript" src="/scripts/player.js"></script>

    <script type="text/javascript" src="/scripts/application.js"></script>
    <script type="text/javascript" src="/scripts/ui-core-statestore.js"></script>
	<script type="text/javascript" src="/scripts/ui-core.js"></script>
    <script type="text/javascript" src="/scripts/ui-breadcrumb.js"></script>
    <script type="text/javascript" src="/scripts/ui/tabbed.js"></script>
    <script type="text/javascript" src="/scripts/ui-minislides.js"></script>
    <script type="text/javascript" src="/scripts/ui.js"></script>
    <script type="text/javascript" src="/scripts/ui/pageStore.js"></script>
    <script type="text/javascript" src="/scripts/ui-site.js"></script>
    <script type="text/javascript" src="/scripts/ui/xhrForm.js"></script>
    <script type="text/javascript" src="/scripts/ui/uiDragAwareHelper.js"></script>
    <script type="text/javascript" src="/scripts/ui/uiTextArea.js"></script>
    <script type="text/javascript" src="/scripts/ui-upload.js"></script>
    <script type="text/javascript" src="/scripts/ui/ui-helpscreen.js"></script>
    <script type="text/javascript" src="/scripts/ui/uiDragToAdjust.js"></script>
    <script type="text/javascript" src="/scripts/ui/uiEnterValue.js"></script>
    <script type="text/javascript" src="/scripts/ui/uiAbstractProxy.js"></script>
    <script type="text/javascript" src="/scripts/ui/uiProxyCheckbox.js"></script>
    <script type="text/javascript" src="/scripts/ui/uiProxyTextField.js"></script>
    <script type="text/javascript" src="/scripts/ui/uiProxyToggleButton.js"></script>
    <script type="text/javascript" src="/scripts/ui/uiProxyVec3.js"></script>
    <script type="text/javascript" src="/scripts/ui/uiAbstractProperties.js"></script>
    <script type="text/javascript" src="/scripts/ui/uiPropertiesObj3d.js"></script>
    <script type="text/javascript" src="/scripts/ui/uiPropertiesNode.js"></script>
    <script type="text/javascript" src="/scripts/node-ui-enum.js"></script>
    <script type="text/javascript" src="/scripts/node-ui.js"></script>

    <script type="text/javascript" src="/scripts/editConnection.js"></script>
    <script type="text/javascript" src="/scripts/player.js"></script>

    <script type="text/javascript" src="/scripts/graphApi.js"></script>
    <script type="text/javascript" src="/scripts/commands/undoManager.js"></script>
    <script type="text/javascript" src="/scripts/commands/graphEditCommands.js"></script>
    <script type="text/javascript" src="/scripts/commands/fork.js"></script>

    <script type="text/javascript" src="/scripts/mid-pane.js"></script>
    <script type="text/javascript" src="/scripts/shader-editor.js"></script>

    <script type="text/javascript" src="/scripts/account-controller.js"></script>
    <script type="text/javascript" src="/scripts/models.js"></script>
    
    <script type="text/javascript" src="/scripts/wschannel.js"></script>

    <script type="text/javascript" src="/scripts/editorChannel.js"></script>

    <script type="text/javascript" src="/scripts/contextMenu.js"></script>
    
    <script type="text/javascript" src="/scripts/stores/store.js"></script>
    <script type="text/javascript" src="/scripts/stores/graphStore.js"></script>
    <script type="text/javascript" src="/scripts/stores/peopleStore.js"></script>

	<script type="text/javascript" src="/scripts/noise.js"></script>

    <script type="text/javascript" src="/scripts/chat.js"></script>

    <script type="text/javascript" src="/scripts/datatypes/environmentSettings.js"></script>

    <script type="text/javascript" src="/scripts/glTFUtils.js"></script>

    <script type="text/javascript" src="/vendor/flux.js"></script>

    <script type="text/javascript" src="/vendor/three/three.js"></script>
    
    <script type="text/javascript" src="/vendor/three/OBJLoader.js"></script>
    <script type="text/javascript" src="/vendor/three/MTLLoader.js"></script>
    <script type="text/javascript" src="/vendor/three/DDSLoader.js"></script>
    <script type="text/javascript" src="/vendor/three/SceneLoader.js"></script>
    <script type="text/javascript" src="/vendor/three/MorphAnimMesh.js"></script>
    <script type="text/javascript" src="/vendor/three/loaders/FBXLoader.js"></script>
    <script type="text/javascript" src="/vendor/three/loaders/ColladaLoader2.js"></script>
    <script type="text/javascript" src="/vendor/three/loaders/gltf/glTF-parser.js"></script>
    <script type="text/javascript" src="/vendor/three/loaders/gltf/glTFAnimation.js"></script>
    <script type="text/javascript" src="/vendor/three/loaders/gltf/glTFLoader.js"></script>
    <script type="text/javascript" src="/vendor/three/loaders/gltf/glTFLoaderUtils.js"></script>
    <script type="text/javascript" src="/vendor/three/loaders/gltf/glTFShaders.js"></script>
    <script type="text/javascript" src="/vendor/three/loaders/gltf/gltfUtilities.js"></script>

    <script type="text/javascript" src="/vendor/three/VREffect.js"></script>
    <script type="text/javascript" src="/vendor/three/CardboardEffect.js"></script>
    <script type="text/javascript" src="/vendor/three/VRControls.js"></script>
    <script type="text/javascript" src="/vendor/three/OrbitControls.js"></script>
    <script type="text/javascript" src="/vendor/three/EditorControls.js"></script>
    <script type="text/javascript" src="/vendor/three/TransformControls.js"></script>
    <script type="text/javascript" src="/vendor/three/Font.js"></script>
    <script type="text/javascript" src="/vendor/three/FontLoader.js"></script>

    <script type="text/javascript" src="/vendor/spite/THREE.MeshLine.js"></script>

    <script type="text/javascript" src="/vendor/borismus/webvr-polyfill.js"></script>
    <script type="text/javascript" src="/vendor/borismus/webvr-manager.js"></script>
	<script type="text/javascript" src="/scripts/hardware.js"></script>
    <script type="text/javascript" src="/scripts/webVRAdapter.js"></script>

    <script type="text/javascript" src="/vendor/random.min.js"></script>

    <script type="text/javascript" src="/scripts/plugin.js"></script>
    <script type="text/javascript" src="/scripts/subGraphPlugin.js"></script>

    <script type="text/javascript" src="/scripts/threeObject3dPlugin.js"></script>

    <script type="text/javascript" src="/scripts/abstractPlugins/abstractGraphPlugin.js"></script>
    <script type="text/javascript" src="/scripts/abstractPlugins/abstractTextAreaPlugin.js"></script>
    <script type="text/javascript" src="/scripts/abstractPlugins/abstractObjectGazePlugin.js"></script>
    <script type="text/javascript" src="/scripts/abstractPlugins/abstractThreeLoaderObjPlugin.js"></script>
    <script type="text/javascript" src="/scripts/abstractPlugins/abstractThreeMaterialPlugin.js"></script>
    <script type="text/javascript" src="/scripts/abstractPlugins/abstractThreeMeshPlugin.js"></script>
    <script type="text/javascript" src="/scripts/abstractPlugins/abstractArrayBlendModulatorPlugin.js"></script>
    <script type="text/javascript" src="/scripts/abstractPlugins/abstractAnimateValueOnTriggerPlugin.js"></script>

    <script type="text/javascript" src="/scripts/worldEditor/worldEditorPerspectiveCamera.js"></script>
    <script type="text/javascript" src="/scripts/worldEditor/worldEditorOrthographicCamera.js"></script>
    <script type="text/javascript" src="/scripts/worldEditor/worldEditorCameraSelector.js"></script>
    <script type="text/javascript" src="/scripts/worldEditor/worldEditor.js"></script>
    <script type="text/javascript" src="/scripts/worldEditor/worldEditorOriginGrid.js"></script>
    <script type="text/javascript" src="/scripts/worldEditor/worldEditorRadialHelper.js"></script>
    <script type="text/javascript" src="/scripts/worldEditor/abstractWorldEditorHelperObject.js"></script>
    <script type="text/javascript" src="/scripts/worldEditor/vrCameraHelperObject.js"></script>
    <script type="text/javascript" src="/scripts/worldEditor/directionalLightHelper.js"></script>
    <script type="text/javascript" src="/scripts/worldEditor/spotLightHelper.js"></script>
    <script type="text/javascript" src="/scripts/worldEditor/hemisphereLightHelper.js"></script>
    <script type="text/javascript" src="/scripts/worldEditor/pointLightHelper.js"></script>
    <script type="text/javascript" src="/scripts/worldEditor/sceneLightingHelper.js"></script>
    <script type="text/javascript" src="/scripts/worldEditor/boundingSphereHelper.js"></script>
    <script type="text/javascript" src="/scripts/worldEditor/skeletonHelper.js"></script>
    <script type="text/javascript" src="/scripts/worldEditor/boundingBoxHelper.js"></script>

    <script type="text/javascript" src="/scripts/worldEditor/objectPlacementHelper.js"></script>

    <script type="text/javascript" src="/scripts/screenshot/ScreenshotRenderer.js"></script>

    <script type="text/javascript" src="/scripts/loaders/multiObjectLoader.js"></script>

    <script type="text/javascript" src="/vendor/toji/webgl-utils/src/wglu-stats.js"></script>

    <!-- end bundler -->

    <script>{{> mixpanel}}</script>
  </head>

<body class="noselect bEditor {{extraClasses}}">
    {{> srv/gtm}}

    {{{body}}}

    <script>
        {{{templateCache}}}
    </script>

</body>
</html>
