<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

	{{#if meta.title}}
		<title>{{meta.title}}</title>
	{{else}}
		<title>Vizor – Create and Share VR on the Web</title>
	{{/if}}
    {{#if meta.keywords }}
        <meta name="keywords" content="{{meta.keywords}}" />
    {{else}}
        <meta name="keywords" content="vizor, vr, webvr, virtual reality, webgl, visual programming, animation, world editor, 3d editor" />
    {{/if}}
    {{#if meta.description}}
        <meta name="description" content="{{meta.description}}" />
    {{else}}
        <meta name="description" content="Vizor is a platform for creating and sharing VR content on the web. All you need is a WebVR capable browser and a headset, although you can use Vizor without one. There is no need to download and install large native applications." />
    {{/if}}

	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <!-- facebook -->
    <meta name="og:description" content="Vizor is a platform for creating and sharing VR content on the web. All you need is a WebVR capable browser and a headset, although you can use Vizor without one. There is no need to download and install large native applications." />
    <meta name="og:image" content="/images/vizor_social.jpg" />
    <meta name="og:restrictions:age" content="13+" />
    <meta name="fb:profile_id" content="980737135276580" />

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:200,300,400" />
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />

	{{{css 'less'}}}
	{{{css 'icons/style'}}}

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
	<script src="/node_modules/lodash/dist/lodash.min.js"></script>
	<script src="/vendor/when.js"></script>

	{{{js 'event-emitter'}}}

	<script src="/vendor/flux.js"></script>
    <script src="/vendor/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
	<script src="/vendor/bootbox.min.js"></script>
	<script src="/node_modules/backbone/backbone-min.js"></script>

    <script src="/node_modules/handlebars/dist/handlebars.min.js"></script>

	{{{js 'models'}}}
	{{{js 'account-controller'}}}
	{{{js 'ui-site'}}}

	{{#if meta.scripts}}{{#each meta.scripts}}
		<script type="text/javascript" src="/scripts/{{this}}"></script>
	{{/each}}{{/if}}

	{{{js 'core'}}}
    {{{js 'application'}}}

	<script>
		jQuery(document).ready(function(){
			(function(){
				{{{templateCache}}}
			}).apply(window);

			window.Vizor = {
				hideWebVRButton: true,
				autoplay: true
			};

			if (typeof E2.models === 'undefined') E2.models = {};
			if (typeof E2.controllers === 'undefined') E2.controllers = {};

			E2.models.user = new User({});
			if ('{{user.username}}' !== '') {
				E2.models.user.set( {
					id: '{{user._id}}',
					name: '{{user.name}}',
					username: '{{user.username}}',
					gravatar: '{{{user.gravatar}}}',
					email: '{{user.email}}'
				})
			}

			E2.controllers.account = new AccountController();
		});
    </script>

	{{{js 'player.min'}}}

    <script>{{> ga}}</script>
    <script>{{> mixpanel}}</script>
</head>

<body class="bMain {{meta.bodyclass}} {{extraClasses}}">
{{> srv/siteSvgSprite }}

	{{#unless meta.noheader}}
    <header>
		{{> navbar}}
    </header>
	{{/unless}}

	{{> flash}}

	{{#if meta.breadcrumb }}
		<div class="breadcrumbcontainer contentwrap dark">
			{{> breadcrumb meta.breadcrumb}}
		</div>
	{{/if}}

	<div id="contentwrap">{{!-- main. for server-rendered html --}}
          {{{body}}}
    </div>

	{{!-- future use

	{{#unless meta.nofooter}}
    <footer>
        {{ > footer }}
    </footer>
    {{/unless}}

    --}}

</body>
</html>
