<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

	{{#if meta.title}}
		<title>{{meta.title}}</title>
	{{else}}
		<title>Vizor – Explore, Create and Publish VR on the Web</title>
	{{/if}}
    {{#if meta.keywords }}
        <meta name="keywords" content="{{meta.keywords}}" />
    {{else}}
        <meta name="keywords" content="vizor, vr, virtual reality, webvr, animation, interactive, 3d editor, webgl, visual programming, world editor" />
    {{/if}}
    {{#if meta.description}}
        <meta name="description" content="{{meta.description}}" />
    {{else}}
        <meta name="description" content="Vizor is a platform for creating and sharing VR content on the web. All you need is a WebVR capable browser and a headset, although you can use Vizor without one. There is no need to download and install large native applications." />
    {{/if}}

	<meta id="viewportmeta" name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no" />
    <!-- facebook -->
    <meta name="og:description" content="Explore, create and publish VR on the Web using Vizor. All you need is a WebVR capable browser and a headset, although you can use Vizor without one. Nothing to download or install." />
    <meta name="og:image" content="/images/vizor_social.png" />
    <meta name="og:restrictions:age" content="13+" />
    <meta name="fb:profile_id" content="980737135276580" />

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:200,300,400" />

	{{{css 'site'}}}

    <!-- begin bundler -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
	<script src="/node_modules/lodash/dist/lodash.min.js"></script>
	<script src="/node_modules/moment/min/moment.min.js"></script>
	<script src="/vendor/when.js"></script>

	<script src="/scripts/event-emitter.js"></script>

	<script src="/vendor/flux.js"></script>
    <script src="/vendor/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
	<script src="/vendor/bootbox.min.js"></script>
	<script src="/node_modules/backbone/backbone-min.js"></script>

    <script src="/node_modules/handlebars/dist/handlebars.min.js"></script>

	<script src="/dist/player.min.js"></script>

    <script src="/scripts/hardware.js"></script>
    <script src="/vendor/borismus/webvr-polyfill.js"></script>
    <script src="/vendor/borismus/webvr-manager.js"></script>
    <script src="/scripts/webVRAdapter.js"></script>

	<script src="/scripts/models.js"></script>
	<script src="/scripts/account-controller.js"></script>
	<script src="/scripts/ui/uiDragAwareHelper.js"></script>
	<script src="/scripts/ui-minislides.js"></script>
	<script src="/scripts/ui/pageStore.js"></script>
	<script src="/scripts/ui-site.js"></script>
	<script src="/scripts/ui/xhrForm.js"></script>
	<script src="/scripts/ui/ui-cards.js"></script>
	<script type="text/javascript" src="/scripts/ui/tabbed.js"></script>

    <!-- end bundler -->

	{{#if meta.scripts}}{{#each meta.scripts}}
		<script type="text/javascript" src="/meta-scripts/{{this}}"></script>
	{{/each}}{{/if}}

	<script>
        window.Vizor = {
            pageObjects: {graphs:{}, profiles:{}},
            hideWebVRButton: true,
            autoplay: true
        }

		jQuery(document).ready(function(){
			(function(){
				{{{templateCache}}}
			}).apply(window)


			if (typeof E2.models === 'undefined')
				E2.models = {}

			if (typeof E2.controllers === 'undefined')
				E2.controllers = {}

            E2.models.user = new User({})
            {{#if user.username}}
                E2.models.user.set({{{json user}}})
            {{/if}}

			E2.controllers.account = new AccountController()
		});
    </script>

    <script>{{> mixpanel}}</script>
</head>

<body class="bMain {{meta.bodyclass}} {{extraClasses}}">
	{{> srv/gtm}}
	{{> srv/siteSvgSprite }}

    {{!--
        header: false   = noheader
        header: any     = custom header
        (header: null    = default header)
    --}}
    {{#not-eq meta.header false}}
        <header><div class="header-overlay"></div>
            {{#if meta.header}}
               {{#with meta}}{{> (lookup . 'header') .. }}{{/with}}
            {{else}}
                {{> srv/navbar}}
            {{/if}}
        </header>
    {{/not-eq}}

	{{> flash}}

	{{#if meta.breadcrumb }}
		<div class="breadcrumbcontainer contentwrap dark">
			{{> breadcrumb meta.breadcrumb}}
		</div>
	{{/if}}

	<div id="contentwrap">{{!-- main. for server-rendered html --}}
          {{{body}}}
    </div>

</body>
</html>
