<!DOCTYPE html>
<html lang="en">
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="gt-ie8 gt-ie9 not-ie"> <!--<![endif]-->
<head>
    <title>{{title}}</title>
    {{#if meta.keywords }}
        <meta name="keywords" content="vizor, vr, webvr, virtual reality, webgl, visual programming, animation" />
    {{/if}}
    {{#if meta.description}}
        <meta name="description" content="Vizor lets you create compelling VR content right in your browser" />
    {{/if}}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" type="text/css" />
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet" type="text/css" />
    <link href="/style/less.css" rel="stylesheet" type="text/css" />
    <link href="/style/icons/style.css" rel="stylesheet" type="text/css" />
    <link href="/style/player.css" rel="stylesheet" type="text/css" />
    <link href="/style/website.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendor/when.js"></script>
    <script type="text/javascript" src="/node_modules/lodash/dist/lodash.min.js"></script>
    <script type="text/javascript" src="/scripts/event-emitter.js"></script>

    <!--[if lt IE 9]>
      <script src="assets/javascripts/ie.min.js"></script>
    <![endif]-->
    <script>{{> ga}}</script>
</head>

<body class="{{extraClasses}}">
    <!-- Get jQuery from Google CDN -->
    <!--[if !IE]> -->
      <script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">'+"<"+"/script>"); </script>
    <!-- <![endif]-->
    <!--[if lte IE 9]>
      <script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">'+"<"+"/script>"); </script>
    <![endif]-->

    <div id="main-wrapper">
        {{> navbar}}

        <div id="content-wrapper"> <!-- formerly content-wrapper -->
            <div class="container">
              {{> flash}}

              {{{body}}}
            </div>
        </div>

    </div> <!-- / #main-wrapper -->

    <!-- Javascripts -->
    {{{js 'core'}}}
    {{{js 'application'}}}

</body>
</html>
