<!DOCTYPE html>
<html lang="en" class="hVizor">
	<head id="head">
		<meta charset='utf-8' />
        <title>{{graphName}} by {{graphOwner}}</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1" />
        <meta name="keywords" content="vizor, vr, webvr, virtual reality, webgl, visual programming, animation" />
        <meta name="description" content="Vizor lets you create compelling VR content right in your browser" />
        <meta name="og:description" content="Vizor lets you create compelling VR content right in your browser" />
        <meta name="og:title" content="{{graphName}} by {{graphOwner}}" />
        <meta name="og:image" content="{{previewImage}}" />
        <meta name="og:image:width" content="{{previewImageWidth}}" />
        <meta name="og:image:height" content="{{previewImageHeight}}" />
        <meta name="og:restrictions:age" content="13+" />
        <meta name="fb:profile_id" content="980737135276580" />
        <link href="/style/less.css" rel="Stylesheet" type="text/css"/>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<script src="/node_modules/jquery/dist/jquery.min.js"></script>

		<script src="/vendor/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
		<script src="/vendor/bootbox.min.js"></script>
        <script src="/node_modules/handlebars/dist/handlebars.min.js"></script>
		<script src="/scripts/ui-site.js"></script>
        <script>{{> mixpanel}}</script>
	    <script>{{> ga}}</script>
	</head>
	<body class="bPlayer noselect_all dark">
		<script type="text/javascript" src="/scripts/player.min.js"></script>
        <div class="wrap clearfix" id="playerpage">
		    {{{body}}}
            <noscript>
                <div class="nojs clearfix">
                    <div style="float: left; margin: 5px 8px 0 0;"><img src="/images/warning.png" width="64px" height="64px" /></div>
                    <p>This page requires javascript in order to display properly.</p>
                    <p>
                        If you're running a script blocker - such as NoScript - please whitelist this page.<br />
                        If you have disabled javascript in your browser, please enable it and reload.
                    </p>
                </div>
            </noscript>
        </div>
	</body>
</html>
