<!DOCTYPE html>
<html lang="en" class="hVizor">
	<head id="head">
		<meta charset='utf-8' />
        <title>{{graphName}} by {{graphOwner}}</title>
		<meta id="viewportmeta" name="viewport" content="initial-scale=1, maximum-scale=1, shrink-to-fit=no" />
        <meta name="keywords" content="vizor, vr, webvr, virtual reality, webgl, visual programming, animation" />
        <meta name="description" content="Vizor is a platform for creating and sharing VR experiences" />
        <meta name="og:description" content="Vizor is a platform for creating and sharing VR experiences" />
        <meta name="og:title" content="{{graphName}} by {{graphOwner}}" />
        <meta name="og:image" content="{{previewImage}}" />
        <meta name="og:image:width" content="{{previewImageWidth}}" />
        <meta name="og:image:height" content="{{previewImageHeight}}" />
        <meta name="og:restrictions:age" content="13+" />
        <meta name="fb:profile_id" content="980737135276580" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@Vizor_VR" />
        <meta name="twitter:title" content="{{graphName}} by {{graphOwner}}" />
        <meta name="twitter:description" content="Vizor is a platform for creating and sharing VR experiences" />
        <meta name="twitter:image" content="{{previewImage}}" />

        {{{css 'site'}}}

        <!-- begin bundler -->
		<script src="/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="/node_modules/lodash/dist/lodash.min.js"></script>
		<script src="/vendor/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
		<script src="/vendor/bootbox.min.js"></script>
        <script src="/node_modules/moment/min/moment.min.js"></script>
        <script src="/node_modules/handlebars/dist/handlebars.min.js"></script>

        <script src="/scripts/ui/pageStore.js"></script>
        <script src="/scripts/event-emitter.js"></script>
        <script src="/scripts/ui-site.js"></script>

        <script src="/scripts/util.js"></script>
        <script src="/scripts/hardware.js"></script>
        <script src="/vendor/borismus/webvr-polyfill.js"></script>
        <script src="/vendor/borismus/webvr-manager.js"></script>
        <script src="/scripts/webVRAdapter.js"></script>

        <script src="/scripts/ui/playerUI.js"></script>
        <!-- end bundler -->

        <script src="/data/dist/{{playerVersion}}/player.min.js"></script>

        <script>
        (function(){
            {{{templateCache}}}
        }.apply(window))
        </script>

        <script>{{> mixpanel}}</script>
	</head>
	<body class="bPlayer noselect_all dark">
        {{> srv/gtm}}
        {{> srv/siteSvgSprite }}
        <div class="wrap clearfix" id="playerpage">
		    {{{body}}}
            <noscript>
                <div class="nojs clearfix">
                    <div style="float: left; margin: 5px 8px 0 0;"><img src="/images/warning.png" width="64px" height="64px" /></div>
                    <p>This page requires javascript in order to display properly.</p>
                    <p>
                        If you're running a script blocker - such as NoScript - please whitelist this page.<br />
                        If you have disabled javascript in your browser, please enable it and reload.
                    </p>
                </div>
            </noscript>
        </div>
	</body>
</html>
