<noscript>
	<div class="nojs">
		<div style="float: left; margin-right: 8px;"><img src="/images/warning.png" width="64px" height="64px" /></div>
		<div style="padding-top: 4px;">This page requires javascript in order to display properly. If you're running a script blocker - such as NoScript - please whitelist this page. If you have disabled javascript in your browser, please enable it and reload (F5).</div>
	</div>
</noscript>

<div class="flex-column">
<div class="menu-bar"> <!-- menu bar -->
	<div class="header left-cell pull-left" id="top-header-logo">
		<div class="info-pane pull-left" id="info">
			<span>
				<img id="infopanelogo" src="../../images/logo-graphic.png">
			</span>
			<span class="logo-text">Vizor Create</span>
		</div>
		<div id="load-spinner"></div>
	</div>
	<div class="header">
		<div id="top-header">
			<div class="top-header-col" id="top-header-left">
				<a href="/edit" id="new" class="btn btn-sm btn-default">New</a>

				<div class="btn-group pull-left">
					<button id="fork-button" class="btn btn-sm btn-default">Edit a Copy</button>
					<button type="button" class="btn btn-sm btn-default save-copy-button">Save a Copy</button>
					<button type="button" class="btn btn-default btn-dropdown" data-toggle="dropdown">
						<span class="fa fa-caret-down"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a class="save-copy-button">Save a Copy</a></li>
						<li><a id="save-as-preset">Save as Preset</a></li>
						<li><a id="save-selection-as-preset">Save Selection as Preset</a></li>
						<li><hr></li>
						<li><a id="view-source">View Source</a></li>
					</ul>
				</div>

				<button id="open" class="btn btn-sm btn-default">Open</button>

			</div>

			<div class="top-header-col" id="top-header-right">

				<button id="help" class="btn btn-sm btn-default pull-right">Help</button>

				<div class="header pull-right">
					<button id="play" class="btn btn-primary">
						<i class="fa fa-play"></i>
					</button>
					<button id="stop" class="btn btn-primary">
						<i class="fa fa-stop"></i>
					</button>
					<button id="fullscreen" class="btn btn-primary">
						<i class="fa fa-expand"></i>
					</button>
					{{> userpulldown}}
				</div>

			</div>

		</div>

	</div>
</div> <!-- menu bar -->

<div class="flex-row"> <!-- main row -->
	<div class="flex-column left-cell" id="left-nav">
		<div>
			<ul class="nav nav-tabs" role="tablist">
				<li class="active"><a href="#presets" role="tab" data-toggle="tab"><h4>Presets</h4></a></li>
				<li><a href="#graph" role="tab" data-toggle="tab"><h4>Graph Tree</h4></a></li>
				<li><a href="#peopleTab" role="tab" data-toggle="tab"><h4>People</h4></a></li>
			</ul>

			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="presets">
					<div id="presets" class="flex-column"></div>
				</div>

				<div role="tabpanel" class="tab-pane" id="graph">
					<div class="cell" id="structure"></div>
				</div>

				<div role="tabpanel" class="tab-pane " id="peopleTab">
				</div>
			</div>
		</div>
	</div>
	<div class="resize-handle left-pane-handle" data-target="#left-nav"></div>

	<div class="flex-column mid-pane pane-hidden" id="mid-pane">
		<div class="header">
			<ul class="nav nav-tabs" role="tablist"></ul>
		</div>
		<div class="tab-content"></div>
	</div>
	<div class="resize-handle mid-pane-handle" data-target="#mid-pane"></div>

	<div class="flex-column" id="canvases">
		<canvas id="webgl-canvas"
			class="webgl-canvas-normal"
			width="940"
			height="620"
			oncontextmenu="return false;">
		</canvas>

		<div id="canvas_parent">
			<div id="breadcrumb"></div>
			<canvas id="canvas" width="940" height="620">
			<!-- editor noodles -->
			</canvas>
		</div>
	</div>

	<pre class="info-pane" id="dbg"></pre>
</div> <!-- main row -->
</div> <!-- page column -->

<script type="text/javascript">
	var graph, graphUrl

	{{#if graph}}
		graph = {
			path: '{{graph.path}}',
			url: '{{graph.url}}'
		}

		graphUrl = graph.url
	{{/if}}

	function startEditor(vr_devices) {
		E2.InitialiseEngi(vr_devices, graphUrl)
	}

	function EnumerateVRDevices(devices) {
		var hmd = null, sensor = null;

		for(var i = 0; i < devices.length; i++) {
			if(devices[i] instanceof HMDVRDevice) {
				// Just use the first device we find for now.
				hmd = devices[i];
				break;
			}
		}

		if(hmd) {
			for(var i = 0; i < devices.length; i++) {
				var d = devices[i];

				if(d instanceof PositionSensorVRDevice && d.hardwareUnitId === hmd.hardwareUnitId) {
					sensor = devices[i];
					break;
				}
			}
		}

		startEditor([hmd, sensor]);
	}

	$(document).ready(function() {
		E2.models = {
			user: new User({})
		}

		if ('{{user.username}}') {
			E2.models.user.set( {
				id: '{{user._id}}',
				username: '{{user.username}}'
			})
		}

		E2.controllers = {
			account: new AccountController()
		}

		if(navigator.getVRDevices) {
			navigator.getVRDevices().then(EnumerateVRDevices)
		} else if(navigator.mozGetVRDevices) {
			navigator.mozGetVRDevices(EnumerateVRDevices)
		} else {
			startEditor([null, null])
		}

	});
</script>
