<noscript>
	<div class="nojs">
		<div style="float: left; margin-right: 8px;"><img src="/images/warning.png" width="64px" height="64px" /></div>
		<div style="padding-top: 4px;">This page requires javascript in order to display properly. If you're running a script blocker - such as NoScript - please whitelist this page. If you have disabled javascript in your browser, please enable it and reload (F5).</div>
	</div>
</noscript>

<div class="flex-column">
<div class="menu-bar"> <!-- menu bar -->
	<div class="header pull-left">
		<div class="info-pane" id="info">
			<span>
				<img id="infopanelogo" src="../../images/logo-graphic.png">
			</span>
			<span>Vizor Create</span>
		</div>
		<div id="load-spinner"></div>
	</div>
	<div class="header">
		<a href="/edit" id="new" class="btn btn-sm btn-default">New</a>
		<button id="save" class="btn btn-sm btn-default">Save</button>
		<button id="save-as-preset" class="btn btn-sm btn-default">Save as Preset</button>

		<button id="open" class="btn btn-sm btn-default">Open</button>
		<button id="publish" class="btn btn-sm btn-default">Publish</button>
		<button id="help" class="btn btn-sm btn-default pull-right">Help</button>

		<div class="header pull-right">
			<button id="play" class="btn btn-primary">
				<i class="fa fa-play"></i>
			</button>
			<button id="stop" class="btn btn-primary">
				<i class="fa fa-stop"></i>
			</button>
			<button id="fullscreen" class="btn btn-primary">
				<i class="fa fa-expand"></i>
			</button>
			{{> userpulldown}}
		</div>
	</div>
</div> <!-- menu bar -->

<div class="flex-row"> <!-- main row -->
	<div class="flex-column left-cell" id="left-nav">
		<div>
			<ul class="nav nav-tabs" role="tablist">
				<li class="active"><a href="#presets" role="tab" data-toggle="tab"><h4>Presets</h4></a></li>
				<li><a href="#graph" role="tab" data-toggle="tab"><h4>Graph Tree</h4></a></li>
				<li><a href="#about" role="tab" data-toggle="tab"><h4>About</h4></a></li>
			</ul>

			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="presets">
					<div id="presets" class="flex-column"></div>
				</div>

				<div role="tabpanel" class="tab-pane" id="graph">
					<div class="cell" id="structure"></div>
				</div>

				<div role="tabpanel" class="tab-pane" id="about">
					<p>
					Vizor Create is a dataflow programming editor for WebGL and WebvR.
					</p>
					<p>
					<a href="/help/introduction.html">Help</a>
					|
					<a href="https://github.com/vizorvr/">GitHub</a>
					| 
					<a href="https://twitter.com/vizor_vr">Twitter</a>
					| 
					<a href="https://facebook.com/vrvizor">Facebook</a>
					| 
					<a href="https://www.youtube.com/channel/UClYzX_mug6rxkCqlAKdDJFQ">YouTube</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="resize-handle left-pane-handle" data-target="#left-nav"></div>
	
	<div class="flex-column mid-pane pane-hidden" id="mid-pane">
		<div class="header">
			<ul class="nav nav-tabs" role="tablist"></ul>
		</div>
		<div class="tab-content"></div>
	</div>
	<div class="resize-handle mid-pane-handle" data-target="#mid-pane"></div>

	<div class="flex-column" id="canvases">
		<canvas id="webgl-canvas" 
			class="webgl-canvas-normal"
			width="940"
			height="620"
			oncontextmenu="return false;">
		</canvas>

		<div id="canvas_parent">
			<div id="breadcrumb"></div>
			<canvas id="canvas" width="940" height="620">
			<!-- editor noodles -->
			</canvas>
		</div>
	</div>

	<pre class="info-pane" id="dbg"></pre>
</div> <!-- main row -->
</div> <!-- page column -->

<script type="text/javascript">
	function postInit()
	{
		{{#if graph}}
			var graph = {
				path: '{{graph.path}}',
				url: '{{graph.url}}'
			};

			E2.app.player.core.on('ready', function()
			{
				E2.app.loadGraph(graph.url);
			});
		{{/if}}
	}

	function EnumerateVRDevices(devices)
	{
		var hmd = null, sensor = null;
		
		for(var i = 0; i < devices.length; i++)
		{
			if(devices[i] instanceof HMDVRDevice)
			{
				// Just use the first device we find for now.
				hmd = devices[i];
				break;
			}
		}
		
		if(hmd)
		{
			for(var i = 0; i < devices.length; i++)
			{
				var d = devices[i];
			
				if(d instanceof PositionSensorVRDevice && d.hardwareUnitId === hmd.hardwareUnitId)
				{
					sensor = devices[i];
					break;
				}
			}
		}

		E2.InitialiseEngi([hmd, sensor]);
		postInit();
	}

	$(document).ready(function()
	{
		E2.models =
		{
			user: new User({})
		};

		if ('{{user.username}}')
		{
			E2.models.user.set(
			{
				id: '{{user._id}}',
				username: '{{user.username}}'
			});
		}

		E2.controllers =
		{
			account: new AccountController()
		};

		if(navigator.getVRDevices)
		{
			navigator.getVRDevices().then(EnumerateVRDevices);
		}
		else if(navigator.mozGetVRDevices)
		{
			navigator.mozGetVRDevices(EnumerateVRDevices);
		}
		else
		{
			E2.InitialiseEngi([null, null]);
			postInit();
		}

	});
</script>
