<noscript>
	<div class="nojs">
		<div style="float: left; margin-right: 8px;"><img src="/images/warning.png" width="64px" height="64px" /></div>
		<div style="padding-top: 4px;">This page requires javascript in order to display properly. If you're running a script blocker - such as NoScript - please whitelist this page. If you have disabled javascript in your browser, please enable it and reload (F5).</div>
	</div>
</noscript>
{{> srv/siteSvgSprite}}
{{> srv/editorSvgSprite}}
<header id="editor-header" class="clearfix">
	<div class="editor-header clearfix">
		<div id="top-header-logo">
			<a
                {{#if user.username}}
                    href="/{{user.username}}" title="Back to your profile page"
                {{else}}
                    href="/" title="Back to the homepage"
                {{/if}}

            ><svg class="vizor-top-logo"><use xlink:href="#vizor-top-logo"></use></svg></a>
		</div>
		<div class="menu-bar">
			<div class="buttons button-group" id="grpFileIO" >
				<button class="btn svg" id="btn-new" data-svgref="icon-new-graph"><svg /> New</button>
				<button class="btn svg" id="fork-button" data-svgref="icon-duplicate"><svg /> Duplicate</button>
			</div>
			<div class="buttons button-group" id="grpTransform">
				<button class="svg btn" id="btn-move" data-svgref="icon-move"><svg /> Move</button>
				<button class="svg btn" id="btn-scale" data-svgref="icon-scale"><svg /> Scale</button>
				<button class="svg btn" id="btn-rotate" data-svgref="icon-rotate"><svg /> Rotate</button>
			</div>

			{{!--
			<div class="buttons button-group" id="grpZoom">
				<button class="btn svg zoom" id="btn-zoom-in" data-svgref="icon-zoom-in" /><button class="btn svg zoom" id="btn-zoom" data-svgref="icon-zoom"><svg />
					<span id="current-zoom">100%</span>
				</button><button class="btn svg zoom" id="btn-zoom-out" data-svgref="icon-zoom-out" />
			</div>
			--}}

			<div class="buttons button-group" id="grpPatchControls">
				<button class="svg btn" id="btn-save-patch" data-svgref="icon-save-patch"><svg /> Save Patch</button>
			</div>

			<div class="spacer"></div>

			<div class="buttons button-group" id="grpToggles">
                <button class="svg btn" id="btn-inspector" data-svgref="icon-inspector"><svg /> Inspector</button>
				<button class="btn svg" id="btn-patches" data-svgref="icon-patches"><svg /> Patches</button>
				{{!-- <button class="btn svg" id="btn-graph" data-svgref="icon-graph"><svg /> Graph</button>
					#676 <button class="btn" id="btn-assets" data-svgref="icon-assets"><svg /> Assets</button> --}}
				<button class="btn svg" id="btn-chat-display" data-svgref="icon-chat"><svg /> Chat</button>
				<button class="btn svg ui_off" id="btn-hide-all" data-svgref="icon-hide-all"><svg /> Hide All</button>
			</div>

			<div class="spacer"></div>

			<div class="buttons button-group" id="grpElse">
				<button class="btn svg" id="btn-publish" data-svgref="icon-publish"><svg /> Publish</button>
				<button class="btn svg" id="btn-help" data-svgref="icon-button-help"><svg /> Help</button>
				<div id="account" class="button">
                    {{>userpulldown user}}
                </div>
			</div>
		</div>
	</div>
	<div id="row2">
		<div id="modeSwitcher">
			<button id="buildModeBtn" class="svg" data-svgref="icon-mode-build"><svg />Build</button>
			<button id="programModeBtn" class="svg" data-svgref="icon-mode-patch"><svg />Program</button>
		</div>
		<div id="graphNameLabel" class="auto-editable">
			{{#if graph}}
                {{graph.name}}
            {{else}}
                (untitled)
			{{/if}}
		</div>
		<div id="graphSizeLabel"></div>
		<div id="breadcrumb"></div>
	</div>
</header>
<div id="progressbar"></div>

<pre class="info-pane" id="dbg"></pre>

<div id="canvases">

<div id="properties-panel" class="properties-block vp-library floating-box" style="display:none">
    <div class="block-header">
        <button class="toggle-button" id="properties-toggle" type="button">
            <svg class="icon-arrow-vertical"><use xlink:href="#icon-arrow-vertical"></use></svg>
        </button>
         <ul class="nav nav-tabs">
            <li class="active ui_on"><a href="#obj3dPropertiesPane">Properties</a></li>
            <li><a href="#nodePropertiesPane">Node</a></li>
         </ul>
        <button class="close-button" id="properties-close" type="button">
            <svg class="icon-assets-close"><use xlink:href="#icon-close"></use></svg>
        </button>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="obj3dPropertiesPane"></div>
        <div class="tab-pane" id="nodePropertiesPane"></div>
    </div>
</div>

<div class="shader-block floating-box" id="shader-block" style="display:none">
		<div class="block-header">
			<button class="toggle-button" id="shader-toggle" type="button">
				<svg class="icon-arrow-vertical"><use xlink:href="#icon-arrow-vertical"></use></svg>
			</button>
			<ul class="nav nav-tabs" role="tablist">
			</ul>
			<button class="close-button" id="shader-close" type="button">
				<svg class="icon-assets-close"><use xlink:href="#icon-close"></use></svg>
			</button>
		</div>
		<div class="tab-content"></div>
</div>

<div class="patches-block vp-library floating-box uiopen" id="patches-lib">
		<div class="block-header">
			<button class="toggle-button" id="patches-toggle" type="button">
				<svg class="icon-arrow-vertical"><use xlink:href="#icon-arrow-vertical"></use></svg>
			</button>
			<ul class="nav nav-tabs">
				<li><a href="#objects">Objects</a></li>
				<li><a href="#patches">Patches</a></li>
				{{!-- <li><a href="#graph">Tree</a></li> --}}
			</ul>
			<button class="close-button" id="patches-close" type="button">
				<svg class="icon-assets-close"><use xlink:href="#icon-close"></use></svg>
			</button>
		</div>
		<div class="tab-content">
			<div class="tab-pane active" id="patches">
			</div>
			<div class="tab-pane" id="objects">
			</div>
			{{!-- <div role="tabpanel" class="tab-pane" id="graph">
				<div class="cell" id="structure"></div>
			</div> --}}
		</div>

</div>


<div class="chat-users floating-box uiopen" id="chat-window">
	<div class="chat-tabs block-header">
		<button class="toggle-button" id="chat-toggle" type="button">
			<svg class="icon-arrow-vertical"><use xlink:href="#icon-arrow-vertical"></use></svg>
		</button>
		<ul class="nav nav-tabs" role="tablist">
			<li class="active">
				<a href="#chatTab" id="chatTabBtn">Chat</a>
			</li>
			<li>
				<a href="#peopleTab" id="peopleTabBtn">Users</a>
			</li>
		</ul>
		<button class="close-button" id="chat-close" type="button">
			<svg class="icon-chat-close"><use xlink:href="#icon-close"></use></svg>
		</button>
	</div>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane" id="chatTab">
			<div class="chat-nav">
				<a href="#globalchat">Global</a><svg class="breadcrumb-separator"><use xlink:href="#breadcrumb-separator"></use></svg><span>Graph</span>
			</div>
			<div class="messages scrollbar"></div>
			<div class="composer">
				<input type="text" name="message" id="new-message-input">
			</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="peopleTab">
		</div>
	</div>
	<div class="resize-handle"></div>
</div>

	<canvas id="webgl-canvas"
		class="webgl-canvas-normal"
		width="940"
		height="620"
		oncontextmenu="return false;">
	</canvas>

	<div id="canvas_parent" class="scrollbar">
		<canvas id="canvas" width="940" height="620">
		<!-- editor noodles -->
		</canvas>
	</div>
</div>
<footer id="editor-footer" class="bottom-panel">
	<button class="btn show-timeline" id="btn-timeline" data-toggle="popover" data-placement="top" title="Toggle timeline" style="display: none;">
		<svg class="icon-timeline"><use xlink:href="#icon-timeline"></use></svg>
		<span>Show</span>
	</button>
	<ul class="playback-controls">
		<li class="play-pause active">
			<button class="btn" id="play" data-toggle="popover" data-placement="top" title="Play/Pause">
				<svg class="icon-pause"><use xlink:href="#icon-play"></use></svg>
			</button>
		</li>
		<li class="stop">
			<button class="btn" id="stop" data-toggle="popover" data-placement="top" title="Stop">
				<svg class="icon-pause"><use xlink:href="#icon-stop"></use></svg>
			</button>
		</li>
		<li class="fscreen">
			<button class="btn" id="fullscreen" data-toggle="popover" data-placement="top" title="Fullscreen">
				<svg class="icon-fscreen"><use xlink:href="#icon-fullscreen"></use></svg>
			</button>
		</li>
		<li class="vrview" style="display: none;">
			<button class="btn" id="vrview" data-toggle="popover" data-placement="top" title="View in VR">
				<svg class="icon-vr"><use xlink:href="#icon-vr"></use></svg>
			</button>
		</li>
	</ul>
	<ul class="view-modes">
		<li>
			<button class="btn" id="btn-editorcam" data-toggle="popover" data-placement="top" title="Editor camera">
				<svg class="icon-vr"><use xlink:href="#icon-view-cam"></use></svg>
			</button>
		</li>
		<li>
			<button class="btn" id="btn-vrcam" data-toggle="popover" data-placement="top" title="VR camera">
				<svg class="icon-vr"><use xlink:href="#icon-view-vr"></use></svg>
			</button>
		</li>

	</ul>
</footer>
<div id="drag-overlay">
	<div id="drop-area">
		<div class="drop-info">
			<svg class="icon-drop-upload"><use xlink:href="#icon-drop-upload"></use></svg>
		</div>
	</div>
	<div id="drop-uploading">
		<div class="drop-info">
			<svg class="icon-drop-uploading"><use xlink:href="#icon-drop-uploading"></use></svg>
			<span>Uploading your file..</span>
		</div>
	</div>
</div>

<script>
	var boot = {}
	boot.hasEdits = {{hasEdits}}

	window.Vizor = {
        pageObjects: {graphs:{}, profiles:{}},
		hideWebVRButton: true,
		isEditor: true,
		releaseMode: {{releaseMode}},
		webSocketHost: '{{webSocketHost}}',
		useSecureWebSocket: {{useSecureWebSocket}}
	}

	{{#if graph}}
        boot.graph = {{{json graph}}}
		boot.graphUrl = boot.graph.url
	{{/if}}

	function startEditor() {
		E2.InitialiseEngi(boot.graphUrl)
	}

	$(document).ready(function() {
		E2.models = {
			user: new User({}),
			graph: new Graph({}),
			fileList: new FileList({})
		}

		{{#if user.username}}
            E2.models.user.set({{{json user}}})
			mixpanel.identify('{{user.username}}')
		{{/if}}

		if (typeof E2.controllers === 'undefined')
			E2.controllers = {}

		E2.controllers.account = new AccountController()

		startEditor()
	});
</script>
