<noscript>
	<div class="nojs">
		<div style="float: left; margin-right: 8px;"><img src="/images/warning.png" width="64px" height="64px" /></div>
		<div style="padding-top: 4px;">This page requires javascript in order to display properly. If you're running a script blocker - such as NoScript - please whitelist this page. If you have disabled javascript in your browser, please enable it and reload (F5).</div>
	</div>
</noscript>

<div class="flex-column">
<div class="editor-header">
	<div class="menu-bar">
		{{> svgSprite}}
		<div id="top-header-logo">
			<svg class="vizor-top-logo"><use xlink:href="#vizor-top-logo"></use></svg>
			<div id="load-spinner"></div>
		</div>
		<ul class="iconic-nav">
			<li>
				<button class="btn" data-toggle="dropdown" type="button">
					<svg class="icon-file-menu"><use xlink:href="#icon-file-menu"></use></svg>
					<span>File Menu</span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li>
						<a id="open">Open</a>
					</li>
					<li>
						<a id="fork-button">Edit a Copy</a>
					</li>
					<li>
						<a class="save-copy-button">Save a Copy</a>
					</li>
					<li>
						<a id="save-as-preset">Save as Preset</a>
					</li>
				</ul>
			</li>
			<li>
				<button class="btn" id="btn-new">
					<svg class="icon-new-graph"><use xlink:href="#icon-new-graph"></use></svg>
					<span>New Graph</span>
				</button>
			</li>
		</ul>
		<ul class="iconic-nav">
			<li>
				<button class="btn" id="btn-scale">
					<svg class="icon-scale"><use xlink:href="#icon-scale"></use></svg>
					<span>Scale</span>
				</button>
			</li>
			<li>
				<button class="btn" id="btn-rotate">
					<svg class="icon-rotate"><use xlink:href="#icon-rotate"></use></svg>
					<span>Rotate</span>
				</button>
			</li>
			<li>
				<button class="btn" id="btn-add-object">
					<svg class="icon-add-object"><use xlink:href="#icon-add-object"></use></svg>
					<span>Add Object</span>
				</button>
			</li>
		</ul>
		<ul class="iconic-nav">
			<li>
				<button class="btn" id="btn-inspector">
					<svg class="icon-inspector"><use xlink:href="#icon-inspector"></use></svg>
					<span>Inspector</span>
				</button>
			</li>
			<li>
				<button class="btn" id="btn-add-patch">
					<svg class="icon-add-patch"><use xlink:href="#icon-add-patch"></use></svg>
					<span>Add Patch</span>
				</button>
			</li>
			<li>
				<button class="btn" id="btn-save-patch">
					<svg class="icon-save-patch"><use xlink:href="#icon-save-patch"></use></svg>
					<span>Save Patch</span>
				</button>
			</li>
		</ul>
		<ul class="iconic-nav">
			<li>
				<button class="btn" id="btn-cam-view">
					<svg class="icon-cam-view"><use xlink:href="#icon-cam-view"></use></svg>
					<span>Cam View</span>
				</button>
			</li>
			<li>
				<button class="btn" id="btn-editor">
					<svg class="icon-editor"><use xlink:href="#icon-editor"></use></svg>
					<span>Editor</span>
				</button>
			</li>
			<li>
				<button class="btn" id="btn-zoom">
					<svg class="icon-zoom"><use xlink:href="#icon-zoom"></use></svg>
					<span id="current-zoom">100%</span>
				</button>
				<button class="btn" id="btn-zoom-out">
					<svg class="icon-zoom-out"><use xlink:href="#icon-zoom-out"></use></svg>
				</button>
				<button class="btn" id="btn-zoom-in">
					<svg class="icon-zoom-in"><use xlink:href="#icon-zoom-in"></use></svg>
				</button>
			</li>
		</ul>
		<ul class="iconic-nav pull-right">
			<li>
				<button class="btn" id="btn-chat-display">
					<svg class="icon-chat"><use xlink:href="#icon-chat"></use></svg>
					<span>Chat</span>
				</button>
			</li>
			<li>
				<button class="btn" id="btn-sign-in">
					<svg class="icon-sign-in"><use xlink:href="#icon-sign-in"></use></svg>
					<span>Sign in</span>
				</button>
			</li>
		</ul>
	</div>
</div>
<div id="breadcrumb"></div>

<div class="flex-row"> <!-- main row -->
	<div class="library-block floating-box" id="left-nav">
		<div>
			<div class="block-header">
				<button class="toggle-button" id="assets-toggle" type="button">
					<svg class="icon-arrow-vertical"><use xlink:href="#icon-arrow-vertical"></use></svg>
				</button>
				<ul class="nav nav-tabs" role="tablist">
					<li class="active"><a href="#presets" role="tab" data-toggle="tab">Presets</a></li>
					<li style="display: none;"><a href="#graph" role="tab" data-toggle="tab">Tree</a></li>
				</ul>
				<button class="close-button" id="assets-close" type="button">
					<svg class="icon-assets-close"><use xlink:href="#icon-close"></use></svg>
				</button>
			</div>

			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="presets">
					<div id="presets" class="flex-column"></div>
				</div>

				<div role="tabpanel" class="tab-pane" id="graph">
					<div class="cell" id="structure"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="flex-column mid-pane pane-hidden" id="mid-pane">
		<div class="header">
			<ul class="nav nav-tabs" role="tablist"></ul>
		</div>
		<div class="tab-content"></div>
	</div>
	<div class="resize-handle mid-pane-handle" data-target="#mid-pane"></div>

	<div class="flex-column" id="canvases">
		<canvas id="webgl-canvas"
			class="webgl-canvas-normal"
			width="940"
			height="620"
			oncontextmenu="return false;">
		</canvas>

		<div id="canvas_parent">
			<canvas id="canvas" width="940" height="620">
			<!-- editor noodles -->
			</canvas>
		</div>
	</div>

	<div class="chat-users floating-box">
			<div class="chat-tabs block-header">
				<button class="toggle-button" id="chat-toggle" type="button">
					<svg class="icon-arrow-vertical"><use xlink:href="#icon-arrow-vertical"></use></svg>
				</button>
				<ul class="nav nav-tabs" role="tablist">
					<li class="active">
						<a data-toggle="tab" role="tab" href="#chatTab" id="chatTabBtn">Chat</a>
					</li>
					<li>
						<a data-toggle="tab" role="tab" href="#peopleTab" id="peopleTabBtn">Users</a>
					</li>
				</ul>
				<button class="close-burron" id="chat-close" type="button">
					<svg class="icon-chat-close"><use xlink:href="#icon-close"></use></svg>
				</button>
			</div>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="chatTab">
					<div id="chat" class="chat">
						<div class="messages"></div>
						<div class="composer">
							<input type="text" name="message" id="new-message-input">
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="peopleTab">
				</div>
			</div>
	</div>

	<pre class="info-pane" id="dbg"></pre>
</div> <!-- main row -->
</div> <!-- page column -->	

<script type="text/javascript">
	var graph, graphUrl

	{{#if graph}}
		graph = {
			path: '{{graph.path}}',
			url: '{{graph.url}}'
		}

		graphUrl = graph.url
	{{/if}}

	function startEditor(vr_devices) {
		E2.InitialiseEngi(vr_devices, graphUrl)
	}

	function EnumerateVRDevices(devices) {
		var hmd = null, sensor = null;

		for(var i = 0; i < devices.length; i++) {
			if(devices[i] instanceof HMDVRDevice) {
				// Just use the first device we find for now.
				hmd = devices[i];
				break;
			}
		}

		if(hmd) {
			for(var i = 0; i < devices.length; i++) {
				var d = devices[i];

				if(d instanceof PositionSensorVRDevice && d.hardwareUnitId === hmd.hardwareUnitId) {
					sensor = devices[i];
					break;
				}
			}
		}

		startEditor([hmd, sensor]);
	}

	$(document).ready(function() {
		E2.models = {
			user: new User({})
		}

		if ('{{user.username}}') {
			E2.models.user.set( {
				id: '{{user._id}}',
				username: '{{user.username}}'
			})
		}

		E2.controllers = {
			account: new AccountController()
		}

		if(navigator.getVRDevices) {
			navigator.getVRDevices().then(EnumerateVRDevices)
		} else if(navigator.mozGetVRDevices) {
			navigator.mozGetVRDevices(EnumerateVRDevices)
		} else {
			startEditor([null, null])
		}

	});
</script>
