<noscript>
	<div class="nojs">
		<div style="float: left; margin-right: 8px;"><img src="/images/warning.png" width="64px" height="64px" /></div>
		<div style="padding-top: 4px;">This page requires javascript in order to display properly. If you're running a script blocker - such as NoScript - please whitelist this page. If you have disabled javascript in your browser, please enable it and reload (F5).</div>
	</div>
</noscript>

<div class="editor-header">
	<div class="menu-bar">
		{{> srv/editorSvgSprite}}
		<div id="top-header-logo">
			<svg class="vizor-top-logo"><use xlink:href="#vizor-top-logo"></use></svg>
		</div>
		<ul class="iconic-nav">
			<li>
				<button class="btn" id="btn-new">
					<svg class="icon-new-graph"><use xlink:href="#icon-new-graph"></use></svg>
					<span>New</span>
				</button>
			</li>
			<li>
				<button class="btn" id="fork-button">
					<svg class="icon-new-graph"><use xlink:href="#icon-duplicate"></use></svg>
					<span>Duplicate</span>
				</button>
			</li>
			<li>
				<button class="btn" id="publish-button">
					<svg class="icon-save-patch"><use xlink:href="#icon-save-patch"></use></svg>
					<span>Publish</span>
				</button>
			</li>
		</ul>
		<ul class="iconic-nav">
			<li>
				<button class="btn" id="btn-scale" disabled>
					<svg class="icon-scale"><use xlink:href="#icon-scale"></use></svg>
					<span>Scale</span>
				</button>
			</li>
			<li>
				<button class="btn" id="btn-rotate" disabled>
					<svg class="icon-rotate"><use xlink:href="#icon-rotate"></use></svg>
					<span>Rotate</span>
				</button>
			</li>
		</ul>
		<ul class="iconic-nav">
			<li>
				<button class="btn" id="save-as-preset">
					<svg class="icon-save-patch"><use xlink:href="#icon-save-patch"></use></svg>
					<span>Save As Preset</span>
				</button>
			</li>
			<li>
				<button class="btn" id="btn-inspector">
					<svg class="icon-inspector"><use xlink:href="#icon-inspector"></use></svg>
					<span>Inspector</span>
				</button>
			</li>
			<li>
				<button class="btn" id="btn-zoom">
					<svg class="icon-zoom"><use xlink:href="#icon-zoom"></use></svg>
					<span id="current-zoom">100%</span>
				</button>
				<button class="btn" id="btn-zoom-out">
					<svg class="icon-zoom-out"><use xlink:href="#icon-zoom-out"></use></svg>
				</button>
				<button class="btn" id="btn-zoom-in">
					<svg class="icon-zoom-in"><use xlink:href="#icon-zoom-in"></use></svg>
				</button>
			</li>
		</ul>
		<ul class="iconic-nav">
			<li>
				<button class="btn" id="btn-graph">
					<svg class="icon-graph-toggle"><use xlink:href="#icon-graph"></use></svg>
					<span>Graph</span>
				</button>
			</li>
			<li>
				<button class="btn" id="btn-presets">
					<svg class="icon-add-patch"><use xlink:href="#icon-presets"></use></svg>
					<span>Patches</span>
				</button>
			</li>
            {{!-- {{ #676
			<li>
				<button class="btn" id="btn-assets">
					<svg class="icon-add-object"><use xlink:href="#icon-assets"></use></svg>
					<span>Assets</span>
				</button>
			</li>
            }} --}}
	
			<li>
				<button class="btn" id="btn-chat-display">
					<svg class="icon-chat"><use xlink:href="#icon-chat"></use></svg>
					<span>Chat</span>
				</button>
			</li>
		</ul>
		<ul class="iconic-nav pull-right">
			<li id="account">
			</li>
		</ul>
	</div>
</div>
<div id="breadcrumb"></div>
<div id="progressbar"></div>

<div class="shader-block floating-box" id="shader-block" style="display:none">
		<div class="block-header">
			<button class="toggle-button" id="shader-toggle" type="button">
				<svg class="icon-arrow-vertical"><use xlink:href="#icon-arrow-vertical"></use></svg>
			</button>
			<ul class="nav nav-tabs" role="tablist">
			</ul>
			<button class="close-button" id="shader-close" type="button">
				<svg class="icon-assets-close"><use xlink:href="#icon-close"></use></svg>
			</button>
		</div>

		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="shader">
			</div>
		</div>

</div>

<div class="presets-block vp-library floating-box uiopen" id="presets-lib">
		<div class="block-header">
			<button class="toggle-button" id="presets-toggle" type="button">
				<svg class="icon-arrow-vertical"><use xlink:href="#icon-arrow-vertical"></use></svg>
			</button>
			<ul class="nav nav-tabs" role="tablist">
				<li class="active"><a href="#presets" role="tab" data-toggle="tab">Patch Library</a></li>
				<li><a href="#graph" role="tab" data-toggle="tab">Tree</a></li>
			</ul>
			<button class="close-button" id="presets-close" type="button">
				<svg class="icon-assets-close"><use xlink:href="#icon-close"></use></svg>
			</button>
		</div>

		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="presets">
				<div id="presets"></div>
			</div>
			<div role="tabpanel" class="tab-pane" id="graph">
				<div class="cell" id="structure"></div>
			</div>
		</div>

</div>

<div class="assets-block vp-library floating-box" id="assets-lib" style="display:none">
		<div class="block-header">
			<button class="toggle-button" id="assets-toggle" type="button">
				<svg class="icon-arrow-vertical"><use xlink:href="#icon-arrow-vertical"></use></svg>
			</button>
			<h4>Asset Library</h4>
			<button class="close-button" id="assets-close" type="button">
				<svg class="icon-assets-close"><use xlink:href="#icon-close"></use></svg>
			</button>
		</div>
		<div id="assets">
			<div class="searchbox">
				<svg class="icon-search"><use xlink:href="#icon-search"/></svg>
				<input type="text" onblur="this.placeholder = 'Search'" onfocus="this.placeholder = ''" placeholder="Search" class="form-control" id="assetSearch">
			</div>
			<ul class="lib-tabs" role="tablist" id="assets-tabs">
				<li class="active">
					<a data-toggle="tab" role="tab" href="#sceneTab" id="objectsTabBtn">Objects</a>
				</li>
				<li>
					<a data-toggle="tab" role="tab" href="#imageTab" id="imagesTabBtn">Images</a>
				</li>
				<li>
					<a data-toggle="tab" role="tab" href="#audioTab" id="audioTabBtn">Audio</a>
				</li>
				<li>
					<a data-toggle="tab" role="tab" href="#videoTab" id="videoTabBtn">Video</a>
				</li>
			</ul>
			<div class="tab-content active" id="sceneTab">
				<div class="assets-frame scrollbar">
					<div class="assets-group">
						<span class="group-title">Primitives</span>
						<ul class="assets-list">
							<li class="active">
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
						</ul>
					</div>
					<div class="assets-group">
						<span class="group-title">Primitives</span>
						<ul class="assets-list">
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="tab-content" id="imageTab">
				<div class="assets-frame scrollbar">
					<div class="assets-group">
						<span class="group-title">Images Group</span>
						<ul class="assets-list">
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Image object</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
						</ul>
					</div>
					<div class="assets-group">
						<span class="group-title">Primitives</span>
						<ul class="assets-list">
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="tab-content" id="audioTab">
				<div class="assets-frame scrollbar">
					<div class="assets-group">
						<span class="group-title">Audio Group</span>
						<ul class="assets-list">
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Audio object</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
						</ul>
					</div>
					<div class="assets-group">
						<span class="group-title">Primitives</span>
						<ul class="assets-list">
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="tab-content" id="videoTab">
				<div class="assets-frame scrollbar">
					<div class="assets-group">
						<span class="group-title">Video Group</span>
						<ul class="assets-list">
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Video object</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
						</ul>
					</div>
					<div class="assets-group">
						<span class="group-title">Primitives</span>
						<ul class="assets-list">
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="load-buttons">
				<button id="#uploadAsset">
					<svg class="icon-load"><use xlink:href="#icon-upload"></use></svg>
					<span>Upload</span>
				</button>
				<button id="#uploadAsset">
					<svg class="icon-load"><use xlink:href="#icon-download"></use></svg>
					<span>Download</span>
				</button>
			</div>
			<div id="asset-info">
				<div>
					<div class="asset-image">
						<img src="images/logo-graphic.png" />
					</div>
					<div class="asset-details">
						<span id="asset-type">JSON file</span><br />
						<span id="asset-demensions">6 polygons</span><br />
						<span id="asset-size">26 KB</span>
					</div>
				</div>
			</div>
		</div>
</div>

<div class="chat-users floating-box uiopen" id="chat-window">
	<div class="chat-tabs block-header">
		<button class="toggle-button" id="chat-toggle" type="button">
			<svg class="icon-arrow-vertical"><use xlink:href="#icon-arrow-vertical"></use></svg>
		</button>
		<ul class="nav nav-tabs" role="tablist">
			<li class="active">
				<a data-toggle="tab" role="tab" href="#chatTab" id="chatTabBtn">Chat</a>
			</li>
			<li>
				<a data-toggle="tab" role="tab" href="#peopleTab" id="peopleTabBtn">Users</a>
			</li>
		</ul>
		<button class="close-button" id="chat-close" type="button">
			<svg class="icon-chat-close"><use xlink:href="#icon-close"></use></svg>
		</button>
	</div>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="chatTab">
			<div id="chat" class="chat">
				<div class="chat-nav">
					<div class="chat-tree">
						<a href="#globalchat">Global</a><svg class="breadcrumb-separator"><use xlink:href="#breadcrumb-separator"></use></svg><span>Graph</span>
					</div>
				</div>
				<div class="messages scrollbar"></div>
				<div class="composer">
					<input type="text" name="message" id="new-message-input">
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="peopleTab">
		</div>
	</div>
	<div class="resize-handle"></div>
</div>
<pre class="info-pane" id="dbg"></pre>

<div id="canvases">
	<canvas id="webgl-canvas"
		class="webgl-canvas-normal"
		width="940"
		height="620"
		oncontextmenu="return false;">
	</canvas>

	<div id="canvas_parent" class="scrollbar">
		<canvas id="canvas" width="940" height="620">
		<!-- editor noodles -->
		</canvas>
	</div>
</div>

<div class="bottom-panel">
	<button class="btn show-timeline" id="btn-timeline" data-toggle="popover" data-placement="top" title="Toggle timeline" style="display: none;">
		<svg class="icon-timeline"><use xlink:href="#icon-timeline"></use></svg>
		<span>Show</span>
	</button>
	<ul class="playback-controls">
		<li class="play-pause active">
			<button class="btn" id="play" data-toggle="popover" data-placement="top" title="Play/Pause">
				<svg class="icon-pause"><use xlink:href="#icon-play"></use></svg>
			</button>
		</li>
		<li class="stop">
			<button class="btn" id="stop" data-toggle="popover" data-placement="top" title="Stop">
				<svg class="icon-pause"><use xlink:href="#icon-stop"></use></svg>
			</button>
		</li>
		<li class="fscreen">
			<button class="btn" id="fullscreen" data-toggle="popover" data-placement="top" title="Fullscreen">
				<svg class="icon-fscreen"><use xlink:href="#icon-fullscreen"></use></svg>
			</button>
		</li>
		<li class="vrview" style="display: none;">
			<button class="btn" id="vrview" data-toggle="popover" data-placement="top" title="View in VR">
				<svg class="icon-vr"><use xlink:href="#icon-vr"></use></svg>
			</button>
		</li>
	</ul>
	<ul class="view-modes">
		<li>
			<button class="btn" id="btn-editorcam" data-toggle="popover" data-placement="top" title="Editor camera">
                <svg class="icon-vr"><use xlink:href="#icon-view-cam"></use></svg>
			</button>
		</li>
        <li class="active">
			<button class="btn" id="btn-vrcam" data-toggle="popover" data-placement="top" title="VR camera">
			    <svg class="icon-vr"><use xlink:href="#icon-view-vr"></use></svg>
			</button>
		</li>

        {{!-- #694
		<li>
			<button class="btn" id="btn-v3" data-toggle="popover" data-placement="top" title="View 3">
				<svg class="icon-vr"><use xlink:href="#icon-view-3"></use></svg>
			</button>
		</li>
		<li>
			<button class="btn" id="btn-v4" data-toggle="popover" data-placement="top" title="View 4">
				<svg class="icon-vr"><use xlink:href="#icon-view-4"></use></svg>
			</button>
		</li>
        --}}
		
	</ul>
</div>

<div id="drag-overlay">
	<div id="drop-area">
		<div class="drop-info">
			<svg class="icon-drop-upload"><use xlink:href="#icon-drop-upload"></use></svg>
		</div>
	</div>
	<div id="drop-uploading">
		<div class="drop-info">
			<svg class="icon-drop-uploading"><use xlink:href="#icon-drop-uploading"></use></svg>
			<span>Uploading your file..</span>
		</div>
	</div>
</div>

<script>
	var boot = {}
	boot.hasEdits = {{hasEdits}}

	// THREE webvr-manager reads from here.
	window.Vizor = {
		hideWebVRButton: true
	}

	{{#if graph}}
		boot.graph = {
			path: '{{graph.path}}',
			url: '{{graph.url}}'
		}

		boot.graphUrl = boot.graph.url
	{{/if}}

	function startEditor(vr_devices) {
		E2.InitialiseEngi(vr_devices, boot.graphUrl)
	}

	function EnumerateVRDevices(devices) {
		var d = hardware.enumerateVRDevices(devices);
		startEditor([d.hmd, d.sensor]);
	}

	$(document).ready(function() {

		E2.models = {
			user: new User({}),
			fileList: new FileList({})
		}

		if ('{{user.username}}' !== '') {
			E2.models.user.set( {
				id: '{{user._id}}',
				name: '{{user.name}}',
				username: '{{user.username}}',
				gravatar: '{{{user.gravatar}}}',
				email: '{{user.email}}'
			})
		}

		if (typeof E2.controllers === 'undefined') E2.controllers = {};

		E2.controllers.account = new AccountController()

		if (!hardware.ifVR(EnumerateVRDevices)) {
			startEditor([null, null])
		}

	});
</script>
