<div class="header-background"> </div>
<div class="fixed-table-container-inner">
	<table class="table table-hover table-condensed table-striped">
		<thead>
			<tr>
				<th class="name-header"><div class="th-inner">Name</div></th>
				<th class="date-header"><div class="th-inner">Date</div></th>
				<th class="by-header"><div class="th-inner">By</div></th>
				<th class="tags-header"><div class="th-inner">Tags</div></th>
			</tr>
		</thead>
		<tbody>
		{{#each files}}
			<tr class="file-row{{#if selected}} success{{/if}}" 
				data-url="{{url}}">
				<td class="name">{{name}}</td>
				<td class="">{{updatedAt}}</td>
				<td class="">{{_creator}}</td>
				<td class="">
					{{#each tags}}
						{{this}}
					{{/each}}
				</td>
			</tr>
		{{else}}
			<tr class="file-row">
				<td class="name" colspan="4">No files found</td>
			</tr>
		{{/each}}
		</tbody>
	</table>
</div>
