<div class="file-select-control" style="min-height:400px">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><h4><a href="#download" role="tab" data-toggle="tab">Select file</a></h4></li>
		<li role="presentation"><h4><a href="#upload" role="tab" data-toggle="tab">Upload</a></h4></li>
		<li role="presentation"><h4><a href="#fetch" role="tab" data-toggle="tab">Fetch</a></h4></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="download">
			<div class="file-selector">
				<table>
					<thead>
						<td class="name-header">Name</td>
						<td class="name-header">By</td>
					</thead>
								{{#each files}}
								<tr 
									class="file-row{{#if selected}} selected{{/if}}" 
									data-url="{{scaled.url}}">
									<td>
										<img src="{{scaledThumbnail.url}}"/>
									</td>
									<td>
										{{scaled.path}}
									</td>
									<td>
										{{scaled.width}}x{{scaled.height}}
									</td>
								</tr>
								{{else}}

								<tr class="file-row">
									<td class="name">No files found</td>
								</tr>
								{{/each}}
				</table>
			</div>
			<form class="form-inline">
				<div class="buttons">
					<input id="file-url"
						class="form-control pull-left"
						size="45"
						type="text"
						value="{{original}}"
						placeholder=""/>
				</div>
			</form>
		</div>
		<div role="tabpanel" class="tab-pane" id="upload">
			<form enctype="multipart/form-data"
				method="post"
				action="/upload{{url}}"
				class="form-inline">
				<input type="file" name="file"/>
				<input type="submit" value="Upload"/>
			</form>
		</div>
		<div role="tabpanel" class="tab-pane" id="fetch">
			<p>Not yet implemented</p>
		</div>
	</div>
</div>


