<table class="table table-hover table-condensed table-striped">
	<thead>
		<td class="name-header">Name</td>
		<td class="name-header">By</td>
	</thead>
	{{#each files}}
	<tr 
		class="file-row{{#if selected}} success{{/if}}" 
		data-url="{{scaled.url}}">
		<td><img src="{{scaledThumbnail.url}}"/></td>
		<td>{{scaled.path}}</td>
		<td>{{scaled.width}}x{{scaled.height}}</td>
	</tr>
	{{else}}

	<tr class="file-row">
		<td class="name">No files found</td>
	</tr>
	{{/each}}
</table>
