{{#with this.keys}}
<dl class="clearfix">
	<dt>Switch between Build and Program</dt>
	<dd>{{{toggleMode}}}</dd>

	<dt>Switch between VR and Editor camera</dt>
	<dd>{{{toggleEditorCamera}}}</dd>

	<dt>Copy, Cut, Paste</dt>
	<dd>{{{mod_ctrl}}} + <span>C</span>, <span>X</span>, <span>V</span></dd>

	<dt>Undo</dt>
	<dd>{{{mod_ctrl}}} + <span>Z</span></dd>

	<dt>Enter fullscreen (press ESC to exit)</dt>
	<dd>{{{toggleFullScreen}}}</dd>
</dl>

<h4><span>Build</span></h4>
<dl>
	<dt>Move</dt>
	<dd>{{{modifyModeMove}}}</dd>

	<dt>Rotate</dt>
	<dd>{{{modifyModeRotate}}} or hold {{{mod_ctrl}}}</dd>

	<dt>Scale</dt>
	<dd>{{{modifyModeScale}}} or hold {{{mod_shift}}} + {{{mod_ctrl}}}</dd>

	<dt>Make the current editor camera position the VR camera position</dt>
	<dd>{{{setVRCameraPositionToEditorCameraPosition}}} when camera helper is selected </dd>
</dl>

<h4><span>Program</span></h4>
<dl>
	<dt>Commonly used modules</dt>
	<dd>
		<span>1</span> ,
		<span>2</span> ... <span>0</span>
	</dd>

	<dt>Open Inspector (nested graphs only)</dt>
	<dd>{{{openInspector}}}</dd>

	<dt>View source</dt>
	<dd>{{{viewSource}}}</dd>
</dl>


<h4><span>Panels</span></h4>
<dl>
	<dt>Show or hide the floating panels</dt>
	<dd>{{{toggleFloatingPanels}}}</dd>

	<dt>Focus preset/object search</dt>
	<dd>{{{focusPresetSearch}}} or {{{focusPresetSearchAlt}}}</dd>

	<dt>Focus chat panel</dt>
	<dd>{{{focusChatPanelAlt}}}</dd>
</dl>

{{/with}}