<div class="p_header">
    <div class="p_wrap">
        <button class='toggle'>{{{toggle_control}}}</button>
        <div class="ic p_ins">{{{plugin_inline_input}}}</div>
        <span class="t p_title">{{{node_title}}}</span>
        <button class='edit'>{{{edit_control}}}</button>
        <div class="ic p_outs">{{{plugin_inline_output}}}</div>
    </div>
</div>
<div class="p_content">
    <div class="ic p_ins">{{{plugin_inputs}}}</div>
    <div class="ic p_outs">{{{plugin_outputs}}}</div>
</div>
<div class="cc p_ui_col p_plugin">
    {{{plugin_content}}}
</div>