{{#*inline 'userEmpty'}}
    <p class="explain emptylist">
        {{#eq profile.username user.username}}
            This is where your projects will be listed.
        {{else}}
            {{profile.username}} has not saved any projects yet.
        {{/eq}}
    </p>
{{/inline}}

<div id="contentcontainer" class="in">
    {{#not-eq profile.username user.username}}
        <h2 class="nomobile"><span>{{profile.username}}'s Files</span></h2>
    {{/not-eq}}

    {{#if graphs}}
        {{>browse/graphList . list=graphs class='public'}}
    {{else}}
        {{#if isSummaryPage}}
            {{!-- front page (summary) --}}
            {{>browse/graphList . list=publicGraphs
                heading='Public projects' class='public'
                withNew=(equals profile.username user.username)
                newAssetTypeText='public project'
                withMoreLink=publicHasMoreLink moreLinkText='All public projects' moreLinkHref='?public=1'
            }}
            {{>browse/graphList . list=privateGraphs
                heading='Private projects' class='private'
                withNew=(equals profile.username user.username)
                newAssetTypeText='private project'
                withMoreLink=privateHasMoreLink moreLinkText='All private projects' moreLinkHref='?public=0'
            }}
        {{else}}
            {{#unless (or publicGraphs privateGraphs)}}
                {{>userEmpty}}
            {{/unless}}

            {{!-- filtered public/private lists --}}
            {{#if publicGraphs}}
                {{>browse/graphList . list=publicGraphs
                    heading='Public projects' class='public'
                    withNew=(equals profile.username user.username)
                    newAssetTypeText='public project'
                }}
            {{/if}}

            {{#if privateGraphs}}
                {{>browse/graphList . list=privateGraphs
                    heading='Private projects' class='private'
                    withNew=(equals profile.username user.username)
                    newAssetTypeText='private project'
                }}
            {{/if}}
        {{/if}}
    {{/if}}
</div>