<header id="topbar" style="display:none">
    <h2 id="graph_heading">
        <svg stroke="none" fill="#afbfdf"><use xlink:href="#vizor-logo-flat"></use></svg>
		<span class="title">{{graphName}}</span>
		<span class="author">by <a href="#" data-href="/{{graph.owner}}">{{graphOwner}}</a></span>
        <span class="loadingonly">({{graph.size}})</span>
	</h2>
    <progress id="progressbar" max="100"></progress>
	<div class="controls noselect_all">
        {{#unless hidePlayButton}}
            <button id="playButton" class="svg noplaying noautoplay" data-svgref="player-icon-play"><svg></svg>
                <span>Play</span>
            </button>
        {{/unless}}

        {{#unless hideVRButton}}
            <button id="entervr" class="svg nopaused noDeviceDesktop noDeviceTablet mobileDeviceOnly" data-svgref="player-icon-vr"><svg></svg>
                <span>Enter VR</span>
            </button>
        {{/unless}}

        {{#unless hideFullscreenButton}}
            <button id="fullscreen" class="svg nopaused noDeviceMobile noDeviceTablet" data-svgref="player-icon-fullscreen"><svg></svg>
                <span>Fullscreen</span>
            </button>
        {{/unless}}

        {{#unless hideEditButton}}
            <button id="edit" class="svg nopaused noDeviceMobile" data-svgref="player-icon-edit"><svg></svg>
                <span>Edit</span>
                {{#eq graph.owner user.username}}
                {{else}}
                {{/eq}}
            </button>
        {{/unless}}

        {{#unless hideShareButton}}
            <button id="sharebutton" class="svg nopaused" data-svgref="player-icon-share">
                <svg></svg>
                <span>Share</span>
            </button>
        {{/unless}}
	</div>
</header>

<div id="playerWrap">
    <div id="loadingStage" class="stage"></div>
    <div id="errorStage" class="stage"></div>
    <div id="stage" class="stage front">
        {{> playerCanvas width="100%" height="100%" graphSrc=graphMinUrl autoplay=autoplay }}
    </div>
</div>
<script>
    (function() {
        if (!window.Vizor) window.Vizor = {}
        Vizor.shareURL = window.location.origin + '/{{graph.owner}}/{{graph.name}}'
        Vizor.embedSrc = window.location.origin + '/embed/{{graph.owner}}/{{graph.name}}'
        Vizor.autoplay = {{autoplay}}
        Vizor.graphName = '{{graphName}}'
        Vizor.hideWebVRButton = false
    })()
</script>
