<div class="searchbox">
	<svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
	<input id="presetSearch"
		class="form-control"
		type="text"
		placeholder="Search"
		onfocus="this.placeholder = ''" 
		onblur="this.placeholder = 'Search'"/>
</div>

<div class="preset-list-container">

	<div class="preset-list-content scrollbar">

		<div class="preset-result preset-list-contained-box"></div>

		<div class="panel-group selectControl preset-list-contained-box" id="{{controlId}}">
			{{#each categories}}
			<div class="panel panel-default">
				<div class="panel-heading"
					data-toggle="collapse"
					data-category="{{@key}}"
					data-parent="#{{../controlId}}"
					href="#cscat{{@index}}">
						<i class="glyphicon glyphicon-chevron-right"></i>
						{{@key}}
				</div>
			
				<div id="cscat{{@index}}"
					class="panel-collapse collapse">

					<div class="panel-body">
						<ul>
							{{#each this}}
							<li 
								data-category="{{category}}"
								data-path="{{path}}"
							>
							<div class="score"></div>
							{{title}}
							</li>
							{{/each}}
						</ul>
					</div>
				</div>
			</div>
			{{/each}}

		</div>
	</div>

</div>
